{% extends 'base.html'%}
{% block content%}

<style>
    textarea{
        margin: auto;
    }
  
</style>

<link rel="stylesheet" href="{{url_for('static',filename='css/codemirror.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/ayu-dark.css')}}">

<div class="container">
    <textarea name="" id="editor"></textarea>
</div>




<script src="{{url_for('static',filename='css/codemirror.js')}}"></script>
<script src="{{url_for('static',filename='css/python.js')}}"></script>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById('editor'),{
        mode:"python",
        theme:"ayu-dark",
        lineNumbers:true
    });
    editor.setSize(1000,400)

</script>


{%endblock%}